h2, h3, p {
  font-family: Helvetica;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.blue {
  font-weight: bold;
  color: blue
}

.banner {
  background-image: url("../images/pattern.jpeg");
}

.caption {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}
